@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);





















#menu-1 .navbar-toggler {
  color: #000000;
}
#menu-1 .nav-link {
  font-family: 'Alegreya Sans', sans-serif;
}
#header2-3 P {
  font-family: 'Alegreya Sans', sans-serif;
}
#header2-3 .btn {
  font-family: 'Alegreya Sans', sans-serif;
}
#header2-3 H1 {
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box2-e H2 {
  font-family: 'Alegreya Sans', sans-serif;
}
#features1-a H4 {
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: right;
}
#features1-a DIV {
  text-align: left;
}
#features1-a B {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box2-f H2 {
  font-family: 'Alegreya Sans', sans-serif;
}
#testimonials1-7 .card-block I {
  font-family: 'Playfair Display', sans-serif;
}
#testimonials1-7 .card-footer > div {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}
#testimonials1-7 .card-footer > small {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
}
#testimonials1-7 .card-block {
  font-family: 'Alegreya Sans', sans-serif;
}
#testimonials1-7 .card-block DIV {
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box2-g H2 {
  font-family: 'Alegreya Sans', sans-serif;
}
#content5-q DIV {
  font-size: 16px;
}
#msg-box2-k H2 {
  font-family: 'Alegreya Sans', sans-serif;
}
#content5-o .mbr-section-title {
  font-size: 17px;
}
#content5-o P {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}
#content5-o DIV {
  font-size: 16px;
}
#msg-box2-l H2 {
  font-family: 'Alegreya Sans', sans-serif;
}
#content5-p P {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}
#content5-p DIV {
  font-size: 16px;
}
#contacts1-8 P {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts1-8 STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts1-8 DIV {
  font-family: 'Playfair Display', sans-serif;
}
